<?xml version="1.0"?>

<configuration>

  <system.web>
    <httpHandlers>
      <!--<add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>-->
    </httpHandlers>

  </system.web>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
    </handlers>
  </system.webServer>
</configuration>
